@charset "ISO-8859-1";

 body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-image: linear-gradient(to right, rgb(39, 177, 158), rgb(39, 93, 129));

        }
        
        .voltar{
            font-size: 25px;
        	color: black;
            padding: 10px;
            text-align: center;
            background-color: darkturquoise;
            border-radius: 7px;
            color: black;
        }